<title>Poll</title>
<link rel="stylesheet" href="/stylesheets/show.css" type="text/css" />
<script type="text/javascript" src="/javascript/javascript.js"></script>

<div class="jumbotron container">
<div id="results" class="row container">

<div class="col-sm-6">
<p>Title: {{title}}</p>
<p>I'd like to vote for...:</p>
<form id="tableForm" method="post" action="/show/{{id}}">
 <input type="hidden", name="_csrf", value="{{csrfToken}}">
 
<select id="mySelect" name="option" class="form-control">
{{#each options}}
<option>{{this}}</option>
{{/each}}
</select><br>
 <div id="content">
            </div>
<button class="btn btn-success" type="submit" >Submit</button>
{{#if auth}}
<button class="btn btn-danger" data-toggle="modal" data-target="#myModal" type="button">Delete</button>
{{/if}}
<br><button id="add"class="btn btn-xs btn-info" type="button" onclick="add_fields();">add option</button>
<button id="confirm"class="btn btn-xs btn-info" type="button" onclick="submitOption();"name="handle" value="confirm" >confirm</button>
</form>
{{#if auth}}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v2.8&appId=1327370760690345";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="https://dapp-gkazikas.c9users.io/show/{{id}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdapp-gkazikas.c9users.io%2Fshow%2F58df9f1b71ac1f09b586050a&amp;src=sdkpreparse">Κοινοποιήστε</a></div>
{{/if}}
</div>

<div class="col-sm-6">
<canvas id="myChart" width="400" height="400"></canvas>
<input type="hidden" id="data" value="{{options}}"/>
<input type="hidden" id="labels" value="{{votes}}"/>
</div>

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Are you sure you want to delete {{title}} ?</p>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-default" data-dismiss="modal">No</a>
          <a type="button" class="btn btn-info" method="post" href="/delete/{{id}}">Yes</a>
          
        </div>
      </div>
    </div>
  </div>
  
